<% provide(:title, "Dashboard") %>
<h1><%= link_to "My Dashboard", dashboard_index_path, class: "fa fa-dashboard" %></h1>
<hr>


<h2><%= link_to "View Resources",resources_path, class: "fa fa-database" %></h2>
<hr>

<div class="jumbotron">
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="col-xs-1">Name</th>
      <th class="col-xs-10">Description</th>
      <th class="col-xs-1">User email</th>
      <th class="col-xs-1"></th>
      <th class="col-xs-1"></th>
      <th class="col-xs-1"></th>
    </tr>
    </thead>

    <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td class="col-xs-1"><%=  link_to resource.name,resource.link %></td>
        <td class="col-xs-10"><%= resource.description %></td>
        <td class="col-xs-1"><%= resource.user.email %></td>
        <td class="col-xs-1"><%= link_to 'View', resource,class: "fa fa-eye"  %></td>

        <% if current_user.admin == true %>
          <td><%= link_to 'Edit', edit_resource_path(resource),class: "fa fa-pencil" %></td>
          <td><%= link_to 'Delete', resource, method: :delete, data: { confirm: 'Are you sure?' },class: "fa fa-close" %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>





<hr>
<h2><%= link_to "View Service Providers",service_providers_path, class: "fa fa-database" %></h2>
<hr>

<div class="jumbotron">


  <table class="table table-hover">
    <thead>
    <tr>
      <th class="col-xs-1">Name</th>
      <th class="col-xs-5">Address</th>
      <th class="col-xs-1">Telephone</th>
      <th class="col-xs-1">Email</th>
      <th class="col-xs-1">Acc number</th>
      <th class="col-xs-1">User Email</th>
      <th class="col-xs-1"></th>
      <th class="col-xs-1"></th>
      <th class="col-xs-1"></th>

    </tr>
    </thead>
    <tbody>
    <% @service_providers.each do |service_provider| %>
      <tr>
        <td class="col-xs-1"><%= link_to service_provider.name, service_provider.link %></td>
        <td class="col-xs-5"><%= service_provider.address %></td>
        <td class="col-xs-1"><%= service_provider.telephone %></td>
        <td class="col-xs-1"><%= service_provider.email %></td>
        <td  class="col-xs-1"><%= service_provider.acc_number %></td>
        <td  class="col-xs-1"><%= service_provider.user.email %></td>
        <td  class="col-xs-1"><%= link_to 'View', service_provider, class: "fa fa-eye" %></td>

        <% if current_user.admin == true %>
          <td><%= link_to 'Edit', edit_service_provider_path(service_provider), class: "fa fa-pencil" %></td>
          <td><%= link_to 'Delete', service_provider, method: :delete, data: { confirm: 'Are you sure?' },
                          class: "fa fa-close"%></td>

        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>


<hr>

<h2><%= link_to "House Calendar",meetings_path, class: "fa fa-database" %></h2>
<hr>



<div class="jumbotron">
  <table class=" table table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Logged by</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @activemeetings.each do |meeting| %>
      <tr>
        <td class = "text"><%= link_to meeting.name, meeting %></td>
        <td class = "text"><%= meeting.start_time %></td>
        <td class = "text"><%= meeting.end_time %></td>
        <td><%= meeting.user.email %></td>
        <td><%= link_to 'View', meeting ,class: "fa fa-eye" %></td>

        <td><%= link_to 'Edit', edit_meeting_path(meeting),class: "fa fa-pencil" %></td>

        <% if current_user.admin == true %>
          <td><%= link_to 'Delete', meeting, method: :delete, data: { confirm: 'Are you sure?' },class: "fa fa-close" %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>


<hr>

<%= will_paginate @service_providers %>



