
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_with(model: meeting, local: true) do |form| %>
      <% if meeting.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

          <ul>
            <% meeting.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
      <br>

      <%= form.label :start_time %>
      <%= form.datetime_select :start_time, class: 'form-control'%>

      <br>
      <%= form.label :end_time %>
      <%= form.datetime_select :end_time , class: 'form-control'%>

      <br>
      <br>
      <%= form.label :description %>
      <%= form.text_area :description, class: 'form-control'%>

      <br>

      <br>
      <%= form.label :address %>
      <%= form.text_area :address, class: 'form-control'%>


      <%= form.hidden_field :longitude, class: 'form-control'%>


      <%= form.hidden_field  :latitude, class: 'form-control'%>

      <br>

      <%= form.label :active %>
      <%= form.check_box :active, default: true %>
        <br>
        <%= form.label :personal %>
        <%= form.check_box :personal, default: true %>
<br>
        <%= form.label :completed %>
        <%= form.check_box :completed, default: false %>
      <br><br>




      <%= form.label :comments %>
      <%= form.text_area :comments, class: 'form-control'%>

      <br>

      <%= form.submit %>

    <% end %>
  </div>

</div>