<% provide(:title, "Calendar") %>
<p id="notice"><%= notice %></p>

<hr>

<h1>Activity Planner</h1>

<hr>


<strong><h2>House Planner</h2></strong>



<div class="jumbotron">


  <%= month_calendar(events:@activemeetings, attribute: :start_time, end_attribute: :end_time) do |day, meetings| %>

    <div> <%= day.strftime("%d, %b, %y") %></div>


    <% meetings.each do |meeting| %>
      <div class = "meeting_display">

        <% if meeting.completed == true %>

          <p style="opacity: 0.4" >
            <Strong><strike><%= link_to meeting.name, meeting %></strike></Strong>
          </p>
          <hr>
        <% else %>

          <Strong><%= link_to meeting.name, meeting %></Strong>
          <hr>
        <% end %>
      </div>

    <% end %>

  <% end %>

  <div class="links">
    <%= link_to 'New Activity', new_meeting_path, class: "fa fa-plus" %>
  </div>

</div>

