<% provide(:title, "View Activity") %>
<p id="notice"><%= notice %></p>
<hr>

<div class="jumbotron">
  <p>
    <strong>Name:</strong><br>
    <textarea class="input_text_area" rows="2" cols="150" readonly>
    <%= @meeting.name %>
    </textarea>
  </p>


  <p>
    <strong>Start time:</strong>
    <textarea class="input_text_area" rows="2" cols="150" readonly>
    <%= @meeting.start_time.strftime("%d, %b, %y") %>
    </textarea>
  </p>





  <p>
    <strong>End time:</strong>
    <textarea class="input_text_area" rows="2" cols="150" readonly>
    <%= @meeting.end_time.strftime("%d, %b, %y") %>
    </textarea>
  </p>


  <p>
    <strong>Address:</strong>
    <textarea class="input_text_area" rows="2" cols="150" readonly>
    <%= @meeting.address %>
    </textarea>
  </p>



  <p>
    <strong>Longitude:</strong>
    <textarea class="input_text_area" rows="2" cols="150" readonly>
    <%= @meeting.longitude %>
    </textarea>
  </p>



  <p>
    <strong>Latitude:</strong>
    <textarea class="input_text_area" rows="2" cols="150" readonly>
    <%= @meeting.latitude %>
    </textarea>
  </p>








  <p>
    <strong>Description:</strong>
    <textarea class="input_text_area" rows="4" cols="150" readonly>
  <%= @meeting.description %>
  </textarea>
  </p>


  <p>
    <strong>Comments:</strong>
    <textarea class="input_text_area" rows="4" cols="150" readonly>
  <%= @meeting.comments %>
  </textarea>
  </p>


</div>




<hr>



<div class="breadcrumb">

    <%= link_to 'Edit', edit_meeting_path(@meeting), class: "fa fa-pencil"  %> |

  <%= link_to 'Back', meetings_path, class:"fa fa-arrow-circle-o-left" %>
</div>
