<p id="notice"><%= notice %></p>
<hr>

<div class="jumbotron">
  <p>
    <strong>Name:</strong>
    <%= @meeting.name %>
  </p>
</div>

<div class="jumbotron">
  <p>
    <strong>Start time:</strong>
    <%= @meeting.start_time %>
  </p>
</div>


<div class="jumbotron">

  <p>
    <strong>End time:</strong>
    <%= @meeting.end_time %>
  </p>

</div>


<div class="jumbotron">

  <p>
    <strong>Address:</strong>
    <%= @meeting.address %>
  </p>

</div>



<div class="jumbotron">
  <p>
    <strong>Longitude:</strong>
    <%= @meeting.longitude %>
  </p>


</div>


<div class="jumbotron">
  <p>
    <strong>Latitude:</strong>
    <%= @meeting.latitude %>
  </p>


</div>




<div class="jumbotron">
  <p>
    <strong>Description:</strong>
    <textarea class="input_text_area" rows="4" cols="150" readonly>
  <%= @meeting.description %>
  </textarea>
  </p>


</div>





<div class="jumbotron">
  <p>
    <strong>Comments:</strong>
    <textarea class="input_text_area" rows="4" cols="150" readonly>
  <%= @meeting.comments %>
  </textarea>
  </p>


</div>




<hr>



<div class="links">
  <% if @meeting.user.email == current_user.email %>
    <%= link_to 'Edit', edit_meeting_path(@meeting), class: "fa fa-pencil"  %> |
  <% end %>
  <%= link_to 'Back', meetings_path, class:"fa fa-arrow-circle-o-left" %>
</div>
