<% provide(:title, "View ToDo") %>

<p id="notice"><%= notice %></p>


<hr>
<p>
  <strong> ToDo List Title:</strong><br>
  <textarea class="input_text_area" rows="1" cols="108" readonly>
  <%= @todo_list.title %>
  </textarea>
</p>
<hr>
<p>
  <strong>Description:</strong><br>
  <textarea class="input_text_area" rows="1" cols="108" readonly>
  <%= @todo_list.description %>
  </textarea>
</p>
<hr>
<br>

<div id="todo_items_wrapper">
  <%= render @todo_list.todo_items %>
  <div id="form">
    <%= render "todo_items/form"%>
  </div>
</div>
<hr>

<div class="links">
  <%= link_to 'Edit', edit_todo_list_path(@todo_list), class: "fa fa-pencil" %> |
  <%= link_to 'Delete', todo_list_path(@todo_list), method: :delete, data: {confirm: "Are you sure?"} ,
              class:"fa fa-close"%> |
  <%= link_to 'Back', todo_lists_path , class:"fa fa-arrow-circle-o-left"%>
</div>

