<% provide(:title, "View Provider") %>
<p id="notice"><%= notice %></p>


<h1>Service Provider:</h1>
<h2>Click on the name of the service provider to access it.</h2>
<hr/>

<div class="jumbotron">


  <p>
    <strong>Name:</strong>
    <%= link_to @service_provider.name , @service_provider.link, class: 'fa fa-external-link'%>
  </p>







  <p>
    <strong>Address:</strong>
    <textarea class="input_text_area"   rows="4" cols="150" readonly>
  <%= @service_provider.address %>
  </textarea>
  </p>






  <p>
    <strong>Longitude:</strong>
    <textarea class="input_text_area" rows="1" cols="150" readonly>
  <%= @service_provider.longitude %>
  </textarea>
  </p>






  <p>
    <strong>Latitude:</strong>
    <textarea class="input_text_area"  rows="1" cols="150" readonly>
  <%= @service_provider.latitude %>
  </textarea>
  </p>





  <p>
    <strong>Telephone:</strong>
    <textarea class="input_text_area"  rows="1" cols="150" readonly>
  <%= @service_provider.telephone %>
  </textarea>
  </p>



  <p>
    <strong>Acc number:</strong>
    <textarea class="input_text_area"  rows="1" cols="150" readonly>
  <%= @service_provider.acc_number %>
  </textarea>
  </p>

</div>



<hr/>




<div class="breadcrumb">
  <% if current_user.admin == true %>
    <%= link_to 'Edit', edit_service_provider_path(@service_provider), class: 'fa fa-pencil' %> |
  <% end %>
  <%= link_to 'Back', service_providers_path ,class: 'fa fa-arrow-circle-o-left'%>

</div>

<hr/>
