<% provide(:title, " Edit Resources") %>
<h1>Editing Resource</h1>

<%= render 'form', resource: @resource %>

<%= link_to 'Show', @resource %> |
<%= link_to 'Back', resources_path %>

<div class="links">
  <%= link_to 'View', @resource ,class: 'fa fa-eye'%> |
  <%= link_to 'Back', resources_path,class: 'fa fa-arrow-circle-o-left' %>

</div>