<% provide(:title, " Resources") %>
<p id="notice"><%= notice %></p>

<h1>Resource:</h1>
<h2>Click on the name of the resource to access it.</h2>
<hr/>
<p>
  <strong>Name:</strong>
  <%= link_to @resource.name, @resource.link %>
</p>
<hr/>
<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>
<hr/>
<p>
  <strong>User:</strong>
  <%= @resource.user_id %>
</p>
<hr/>
<hr/>
<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
