

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_with(model: rule, local: true) do |form| %>
  <% if rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

      <ul>
      <% rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.label :code %>
    <%= form.text_field :code, class: 'form-control', value: @code %>

<br>

    <%= form.label :category %>
    <%= form.text_field :category, class: 'form-control' %>

  <br>

    <%= form.label :title %>
    <%= form.text_field :title , class: 'form-control'%>


  <br>
    <%= form.label :definition %>
    <%= form.text_area :definition , class: 'form-control'%>

  <br>
    <%= form.label :active %>
    <%= form.check_box :active %>

  <br>

    <%= form.hidden_field :user_id, value: current_user.id %>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
  </div>
</div>
