<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all',
                             'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag :cocoon %>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>

<div class="container">
  <hr>
  <% if current_user %>
    <%= render 'user/gravatar'%>
  <% else %>
    <%= render 'user/visitorNotice'%>
  <% end %>

  <%= yield %>

  <%= render 'layouts/footer' %>
</div>
</body>
</html>